body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container-xxl {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h3, h4 {
    color: #007bff;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-start {
    text-align: left;
}

.text-truncate {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa {
    margin-right: 5px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.rounded {
    border-radius: .25rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.mb-3, .mb-4, .mb-5 {
    margin-bottom: 1rem !important;
}

.w-100 {
    width: 50% !important;
}

.form-control {
    display: block;
    width: 48%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #a2540c;
    background-color: #c6b6a1;
    background-clip: padding-box;
    border: 1px solid #098e4e;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
